# Environment variables
.env

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
test/
venv/
env/

# Django static & media
staticfiles/
static/
media/

# VS Code / IDE
.vscode/
.idea/

# OS generated
Thumbs.db
.DS_Store
desktop.ini

# Logs
*.log

# MySQL dumps
*.sql

# Migrations (optional - only if you don’t want migration files tracked)
# */migrations/
# */migrations/*.py
# !*/migrations/__init__.py

